#text{
    text-align: center;
    font-style: oblique;
    font-size: larger;
}
#rectangle{
  
  width: 1000px;
  height: 400px;
  background: rgb(255, 255, 255);
  box-shadow: rgb(11, 82, 158) 0px 20px 30px -10px;
  
}
#pics{
    width: 200px;
    height: 200px;
}

#av{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

